<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.back"
        android:required="true" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature android:name="android.hardware.sensor.magnetometer" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DIMENSIONAL"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activitys.InfosContatoActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.InformacoesActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".activitys.ProjetosSalvosActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".activitys.NotificacoesActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".activitys.SmalianCalculoActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.SetarComprimentoToraActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.BaterFotoArvoreActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.MenuActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.AutenticacaoActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".activitys.SetarDHActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.RelatoriosActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="benicio.soluces.dimensional.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activitys.SelecionarMetodoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.ConfiguracoesActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".activitys.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>